In [19]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import pickle
import numpy as np

In [4]:
#merging data files from workbench 

# data0 = pd.read_csv('testData.csv')
# data1 = pd.read_csv('testData1.csv')
# data2 = pd.read_csv('testData2.csv')
# data3 = pd.read_csv('testData3.csv')
# data4 = pd.read_csv('testData4.csv')
# data5 = pd.read_csv('testData5.csv')
# data6 = pd.read_csv('testData6.csv')
# data7 = pd.read_csv('testData7.csv')
# data8 = pd.read_csv('testData8.csv')
# data9 = pd.read_csv('testData9.csv')
# data10 = pd.read_csv('testData10.csv')
# data11 = pd.read_csv('testData11.csv')
# data12 = pd.read_csv('testData12.csv')
# data13 = pd.read_csv('testData13.csv')
# data14 = pd.read_csv('testData14.csv')

# merged_data = pd.concat([data0, data1, data2, data3, data4, data5,data6,data7,data8,data9,data10,data11,data12, data13, data14], ignore_index=True)
# merged_data.to_csv('modelData.csv', index=False)

FileNotFoundError: [Errno 2] No such file or directory: 'testData.csv'

In [145]:
df = pd.read_csv('modelData.csv')

In [146]:
df.head()

,update_no,number,last_update,available_bike_stands,status,available_bikes
0,1,42,1.709200e+12,28,OPEN,2
1,2,30,1.709200e+12,11,OPEN,9
2,3,54,1.709200e+12,17,OPEN,16
3,4,108,1.709200e+12,35,OPEN,0
4,5,20,1.709200e+12,0,OPEN,30

In [147]:

df['last_update'] = pd.to_datetime(df['last_update'], unit='ms', errors='ignore')
#splitting update into date/hour
df['date'] = df['last_update'].dt.date
df['hours'] = df['last_update'].dt.hour

date_str = df['date'].astype(str)
hour_str = df['hours'].astype(str)

df['date'] = date_str + ' ' + hour_str + ':00'


df = df.drop(columns=['last_update'])
df = df.drop(columns=['hours'])
df = df.drop(columns=['status'])


# df = df.drop(columns=['status'])

C:\Users\taraa\AppData\Local\Temp\ipykernel_4300\1503980813.py:1: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_datetime without passing `errors` and catch exceptions explicitly instead
  df['last_update'] = pd.to_datetime(df['last_update'], unit='ms', errors='ignore')

In [148]:
df.head()

   update_no  number  available_bike_stands  available_bikes             date
0          1      42                     28                2  2024-02-29 9:00
1          2      30                     11                9  2024-02-29 9:00
2          3      54                     17               16  2024-02-29 9:00
3          4     108                     35                0  2024-02-29 9:00
4          5      20                      0               30  2024-02-29 9:00

In [164]:
#get weather file and split update into date/hour/min
weather_df = pd.read_csv('weatherData.csv')

weather_df.head()

,name,temp_c,weather_condition,wind_mph,wind_dir,precip_mm,ID,last_update,date,hours
0,Dublin,7,Partly cloudy,14,SW,0,1,27/02/2024 09:30,27/02/2024 00:00,9:00 am
1,Dublin,8,Partly cloudy,14,SW,0,323,27/02/2024 10:30,27/02/2024 00:00,10:00 am
2,Dublin,7,Partly cloudy,15,SE,0,439,07/03/2024 09:30,07/03/2024 00:00,9:00 am
3,Dublin,8,Partly cloudy,15,SE,0,441,07/03/2024 11:15,07/03/2024 00:00,11:00 am
4,Dublin,8,Partly cloudy,15,ESE,0,443,07/03/2024 15:15,07/03/2024 00:00,3:00 pm

In [165]:
#getting weather datetime to format correctly for merge 
weather_df['date'] = pd.to_datetime(weather_df['date'])
weather_df['hours'] = pd.to_datetime(weather_df['hours'])

weather_df['hours'] = weather_df['hours'].dt.hour

weather_df.head()

C:\Users\taraa\AppData\Local\Temp\ipykernel_4300\309059847.py:2: UserWarning: Parsing dates in %d/%m/%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  weather_df['date'] = pd.to_datetime(weather_df['date'])
C:\Users\taraa\AppData\Local\Temp\ipykernel_4300\309059847.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  weather_df['hours'] = pd.to_datetime(weather_df['hours'])

,name,temp_c,weather_condition,wind_mph,wind_dir,precip_mm,ID,last_update,date,hours
0,Dublin,7,Partly cloudy,14,SW,0,1,27/02/2024 09:30,2024-02-27,9
1,Dublin,8,Partly cloudy,14,SW,0,323,27/02/2024 10:30,2024-02-27,10
2,Dublin,7,Partly cloudy,15,SE,0,439,07/03/2024 09:30,2024-03-07,9
3,Dublin,8,Partly cloudy,15,SE,0,441,07/03/2024 11:15,2024-03-07,11
4,Dublin,8,Partly cloudy,15,ESE,0,443,07/03/2024 15:15,2024-03-07,15

In [166]:


date_str = weather_df['date'].astype(str)
hour_str = weather_df['hours'].astype(str)

weather_df['date'] = date_str + ' ' + hour_str + ':00'

weather_df.head()

,name,temp_c,weather_condition,wind_mph,wind_dir,precip_mm,ID,last_update,date,hours
0,Dublin,7,Partly cloudy,14,SW,0,1,27/02/2024 09:30,2024-02-27 9:00,9
1,Dublin,8,Partly cloudy,14,SW,0,323,27/02/2024 10:30,2024-02-27 10:00,10
2,Dublin,7,Partly cloudy,15,SE,0,439,07/03/2024 09:30,2024-03-07 9:00,9
3,Dublin,8,Partly cloudy,15,SE,0,441,07/03/2024 11:15,2024-03-07 11:00,11
4,Dublin,8,Partly cloudy,15,ESE,0,443,07/03/2024 15:15,2024-03-07 15:00,15

In [167]:
#merge weather & bike files on date & hour 
# weather_df = weather_df.drop(columns=['ID'])
# weather_df = weather_df.drop(columns=['name'])
# weather_df = weather_df.drop(columns=['last_update'])

merged_df = pd.merge(df, weather_df, on=['date'])

In [168]:
# merged_df.head()
merged_df.tail()

,update_no,number,available_bike_stands,available_bikes,date,temp_c,weather_condition,wind_mph,wind_dir,precip_mm,hours
1481350,749776,92,10,29,2024-03-30 9:00,10,Partly cloudy,11,S,0,9
1481351,749777,21,1,29,2024-03-30 9:00,10,Partly cloudy,13,S,0,9
1481352,749777,21,1,29,2024-03-30 9:00,10,Partly cloudy,11,S,0,9
1481353,749778,88,11,19,2024-03-30 9:00,10,Partly cloudy,13,S,0,9
1481354,749778,88,11,19,2024-03-30 9:00,10,Partly cloudy,11,S,0,9

In [26]:

#TODO split data based on y = available_bikes and x = temp, wind_mph, precip_mn 

# #split data  & use "available_bikes" as target 
# X = df.iloc[:, :-1] # Features (all columns except the last one)
# y = df.iloc[:, -1]   # Target (the last column - available_bikes)

# X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [27]:


# Assuming X_train and Y_train are already defined
# Ensure Y_train is a 1D array
Y_train = np.ravel(Y_train)

# Ensure X_train is a 2D array
if len(X_train.shape) == 1:
    X_train = X_train.reshape(-1, 1)

# Create and train the linear regression model
model = LinearRegression()
model.fit(X_train, Y_train)

# Save the model to a file
filename = 'linear_regression_model.sav'
import pickle
pickle.dump(model, open(filename, 'wb'))

# Load the model from the file
loaded_model = pickle.load(open(filename, 'rb'))

# Use the loaded model to make predictions
predictions = loaded_model.predict(X_test)

TypeError: float() argument must be a string or a real number, not 'datetime.date'

sort by last_update in ascending order - train on older data, train on new 
drop minutes on last update - keep hour to work out hourly 
can't use timestamp on regression, use sktime for timeseries, use sklearn as it gives metrics to get percentage error :) 
use available_bike as y/dependable and minus from available_bike_stands at the end

split timestamp into hour/min
combine weather on the hour 

covariance matrix - most effective attributes 
    build model based on ^ 

70-80% accuraccy needed


DO BOTH BIKE STANDS AND AVAILABLE BIKE STSANDS MODEL - same model diff input, do both